@page "/choix-perso"
@using lesEchoDuNeant.Service
@using lesEchoDuNeant.Models
@inject ChoixPersoService ChoixPersoService
@inject NavigationManager NavigationManager

<h1>Choisissez votre personnage</h1>
<div class="personnage-container">
    <div class="personnage-interactif" @onclick='() => ChoisirPerso(new Guerrier())'>
        <img src="/images/guerrier.png" alt="Guerrier" style="width: 150px; height: auto;">
        <br>
        <br>
        <p>Guerrier</p>
    </div>
    <div class="personnage-interactif" @onclick='() => ChoisirPerso(new Archer())'>
        <img src="/images/archer.png" alt="Archer" style="width: 150px; height: auto;">
        <br>
        <br>
        <p>Archer</p>   
    </div>
    <div class="personnage-interactif" @onclick='() => ChoisirPerso(new Mage())'>
        <img src="/images/mage.png" alt="Mage" style="width: 150px; height: auto;">
        <br>
        <br>
        <p>Mage</p>   
    </div>
</div>

<p>@Message</p>

<div>
    @if (!string.IsNullOrEmpty(Message))
    {
        <button @onclick="ValiderChoix">Valider</button>
    }
</div>

@code
{
    private string Message;

    private void ChoisirPerso(Personnages personnage)
    {
        // Enregistrez l'objet Personnage dans ChoixPersoService
        ChoixPersoService.SaveChoice(personnage);
        Message = $"Vous avez choisi : {personnage.Nom}";
    }

    private void ValiderChoix()
    {
        NavigationManager.NavigateTo("/nouvelle-partie");
    }
}
